<ion-content>
  <app-navbar
    [rightIcon]="'../../../assets/icons/close-icon.svg'"
    [rightLink]="'/'"
  ></app-navbar>

  <!-- Grilla de productos -->
  <main class="px-4">
    <app-section [title]="'Mi Pedido'">
      <div class="grid gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        <app-product-card
          [product]="order"
          [cancelOrder]="cancelOrder"
          [increment]="increment"
          [decrement]="decrement"
          *ngFor="let order of orders"
        ></app-product-card>
      </div>
    </app-section>

    <!-- Sección para dar una opinión -->
    <app-section [title]="'Dar una observación'">
      <app-text-area [placeholder]="'Escribe una observación'"></app-text-area>
    </app-section>

    <!-- Sección de resumen de pedido -->
    <app-section [title]="'Resumen del Pedido'">
      <app-order-info [subtotal]="subtotal" [delivery]="delivery"></app-order-info>
    </app-section>
    <app-button [text]="'Confirmar Pedido'" [link]="'/confirmation'"></app-button>
  </main>
</ion-content>
